{{ define "main" }}
<main>
    <article>
        <h1>{{ .Title }}</h1>
        <b><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time></b>
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}

        <div>
            {{ .Content }}
        </div>
    </article>
    {{ if .Params.cactus }}
        <h2>Comments</h2>
        <div id="comment-section"></div>
        <script>

            initComments({
                node: document.getElementById("comment-section"),
                defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
                serverName: "cactus.chat",
                siteName: "jakewright.net",
                commentSectionId: "{{ .Params.cactus }}"
            })
        </script>
    {{ end }}
</main>
{{ end }}
