/* Variables */
.red {
  color: #E91878;
  background: #E91878;
  background: linear-gradient(45deg, #E91878, #FC8829);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

.blue, h3 .subtitle {
  color: #931DE7;
  background: #931DE7;
  background: linear-gradient(45deg, #931DE7, #118BF5);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

.green {
  color: #02A9C1;
  background: #02A9C1;
  background: linear-gradient(45deg, #02A9C1, #24D91C);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

/* Global styles */
html {
  font-size: 62.5%; }

body {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  font: 1.6rem/1.5 Helvetica, Arial, sans-serif;
  color: #444; }

@media (max-width: 800px) {
  body {
    margin: 10px 0; } }

p {
  margin: 1.2rem 0; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  line-height: 1.3; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #222;
  text-decoration: none; }

h2 {
  font-weight: normal;
  font-size: 3.2rem; }

@media (max-width: 45rem) {
  h2 {
    font-size: 2.4rem; } }

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 3rem 0 1.2rem; }
  h3 .subtitle {
    font-weight: 400;
    text-transform: lowercase; }

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  header h1 {
    font-weight: normal;
    font-size: 2.8rem;
    margin: 0;
    padding: 0; }
  header nav {
    margin-left: auto;
    /* Move nav to the right */ }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul li {
      display: inline-block;
      font-size: 1.8rem;
      padding: 0 10px;
      margin-right: 1em; }
      header ul li:last-child {
        margin-right: 0; }
      header ul li a {
        color: #222;
        text-decoration: none; }
  @media (max-width: 45rem) {
    header nav {
      width: 100%; }
    header ul {
      margin-top: 1rem; }
      header ul li {
        padding-left: 0;
        margin-right: 0; }
        header ul li a {
          color: #0000FF;
          text-decoration: underline; } }
.headline {
  text-align: center;
  letter-spacing: 1px;
  margin: 3rem 0; }
  .headline .space {
    display: none; }

@media (max-width: 70rem) {
  .headline {
    text-align: left; }
    .headline br {
      display: none; }
    .headline .space {
      display: inline; } }

/* Footer */
footer {
  margin-top: 3rem;
  text-align: center; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block;
      padding: 0 10px; }
      footer ul li a {
        color: #0000FF; }

ul.link-list {
  line-height: 1.8; }
  ul.link-list a {
    text-decoration: none; }
    ul.link-list a:hover {
      text-decoration: underline; }

.callout-block {
  background-color: #F9F9F9;
  padding: 1rem 2rem;
  display: flex; }
  .callout-block .emoji-block {
    margin-right: 1rem; }
